<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Covid-19 Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
      <mat-tab-group>
        <mat-tab label="Home">
          <app-home></app-home>
        </mat-tab>
        <mat-tab label="Country-Wise">
          <app-countries></app-countries>
        </mat-tab>
      </mat-tab-group>