<div class="row">
      
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon">
              <i class="fa fa-plus"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Total Active</p>
              <h4 class="card-text text-right ">{{TotalActive}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon">
              <i class="fa fa-plus"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Total Confirmed</p>
              <h4 class="card-text text-right ">{{TotalConfirmed}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Total Deaths</p>
              <h4 class="card-text text-right ">{{TotalDeaths}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Total Recovered</p>
              <h4 class="card-text text-right ">{{TotalRecovered}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>